* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  overflow-x: hidden;

  user-select: none;

  user-zoom: "none";
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}

@font-face {
  font-family: "STNO";
  src: local("Stratum No1"), local("Stratum No1"),
    url("/stno1.woff2") format("woff2"), url("/stno1.woff") format("woff"),
    url("/stno1.ttf") format("truetype");
  font-style: normal;
}

.triang::after {
  position: absolute;
  content: "";
  z-index: 1;
  bottom: 5px;
  right: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 35px 35px;
  border-color: transparent transparent var(--mantine-color-blue-9) transparent;
  border-radius: 7px;
}

.partial-border {
  position: relative;
}

.partial-border::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5%;
  width: 200px;
  height: 5px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    var(--mantine-color-blue-9),
    var(--mantine-color-blue-9) 20%,
    transparent 50%
  );
}


.partial-border-pro {
  position: relative;
}

.partial-border-pro::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 20px;
  width: 200px;
  height: 4px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    var(--mantine-color-blue-9),
    var(--mantine-color-blue-9) 20%,
    transparent 50%
  );
}

.triang-pro::after {
  position: absolute;
  content: "";
  z-index: 1;
  bottom: 5px;
  right: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent var(--mantine-color-blue-9) transparent;
  border-radius: 7px;
}

.link-white {
  /* on hover white*/
  color: var(--mantine-color-dimmed);

  &:hover {
    color: var(--mantine-color-white);
  }
}
